.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.header-text p {
  font-size: var(--text-base);
}

.subheader-text {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-gray-700);
}

.subheader-text p {
  font-size: var(--text-secondary);
}

.role {
  font-weight: 400;
}

.author-link {
  text-decoration: none;
  color: var(--color-text);
}
