.profile-info-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: var(--color-gray-100);
  padding: 24px 16px;
}

main:has(.profile-info-tab) {
  padding-left: 0;
  padding-right: 0;
}
