.profile-info-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  background-color: var(--color-gray-100);
  padding: 24px 16px;
}

main:has(.profile-info-tab) {
  padding-left: 0;
  padding-right: 0;
}

.info-tab-header {
  display: flex;
  justify-content: flex-end; /* Aligns to the right ✅ */
  align-items: center;
}
