.profile-stats-tab {
  display: flex;
  flex-direction: column;
  gap: 8px; /* spacing between posts */
  background-color: var(--color-gray-100);
  padding: 24px 8px;
}

main:has(.profile-stats-tab) {
  padding-left: 0;
  padding-right: 0;
}

.info-tab-header {
  display: flex;
  justify-content: flex-end; /* Aligns to the right ✅ */
  align-items: center;
}
