/* Card Info Single Component */
.card-info-single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 363px;
  padding: 33px 40px;
  border-radius: 8px;
  background-color: var(--color-background);
  font-family: Geist, -apple-system, Roboto, Helvetica, sans-serif;
}

.card-info-content {
  width: 100%;
  max-width: 283px;
}

.info-row {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 44px;
  justify-content: start;
}

.info-row + .info-row {
  margin-top: 17px;
}

.info-field {
  width: 65px;
}

.info-label {
  color: var(--color-gray-700);
  font-size: 10px;
  font-weight: 500;
}

.info-value {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  line-height: 1.4;
  justify-content: start;
}

.info-value-with-icon {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  line-height: 1.4;
  justify-content: center;
}

.info-icon {
  width: 12px;
  height: 12px;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
}
