.auto-textarea {
  width: 100%;
  border: none;
  outline: none;
  overflow: hidden;
  background: transparent;
  color: var(--color-text);
  min-height: 44px;
  font: inherit;
  margin-top: 25px;
}

.auto-textarea::placeholder {
  color: var(--color-gray-500);
}
