.experience-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.experience-container {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  max-width: 360px;
  font: 500 12px/1 Geist, -apple-system, Roboto, Helvetica, sans-serif;
}

.experience-header {
  justify-content: center;
  align-items: stretch;
  border-bottom: 1px solid var(--Gray-300, #DFE0E7);
  display: flex;
  min-height: 48px;
  width: 100%;
  flex-direction: column;
  color: var(--Text, #000215);
  padding: 10px;
}

.experience-header-inner {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 11px;
  justify-content: start;
}

.experience-avatar {
  aspect-ratio: 0.97;
  object-fit: contain;
  object-position: center;
  width: 28px;
  border-radius: 100px;
  align-self: stretch;
  flex-shrink: 0;
  margin: auto 0;
}

.experience-header-name {
  align-self: stretch;
  width: 194px;
  margin: auto 0;
  color: var(--Text, #000215);
}

.experience-item {
  justify-content: center;
  align-items: stretch;
  border-bottom: 1px solid var(--Gray-300, #DFE0E7);
  display: flex;
  min-height: 59px;
  width: 100%;
  flex-direction: column;
  padding: 16px 10px;
}

.experience-item-last {
  border-bottom: none;
}

.experience-item-inner {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 11px;
  justify-content: start;
}

.experience-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  flex-shrink: 0;
  margin: auto 0;
}

.experience-info {
  align-self: stretch;
  width: 194px;
  margin: auto 0;
}

.experience-title {
  color: var(--Text, #000215);
}

.experience-subtitle {
  color: var(--Gray-700, #A5A7BB);
}

.experience-empty,
.experience-empty-section {
  font-size: 12px;
  color: var(--Gray-700, #A5A7BB);
  margin: 0;
  padding: 16px 10px;
}
