.player-comparison-card {
  display: flex;
  width: 57px;
  height: 72px;
  padding: 3px 8px;
  align-items: center;
  gap: 10px;
  position: relative;
  border-radius: 8px;
  background: var(--color-background);
}

.player-comparison-card-content {
  display: flex;
  width: 41px;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  flex-shrink: 0;
  position: relative;
}

.player-comparison-card-avatar-wrapper {
  display: flex;
  width: 28px;
  height: 29px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.player-comparison-card-avatar {
  width: 28px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 100px;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.player-comparison-card-name {
  height: 24px;
  align-self: stretch;
  color: var(--color-text);
  text-align: center;
  font-family: Geist, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 10px;
  position: relative;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.player-comparison-card-remove-btn {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  position: absolute;
  right: -6px;
  top: -6px;
  border-radius: 32px;
  border: 1.5px solid var(--color-gray-300);
  background: var(--color-gray-100);
  cursor: pointer;
  transition: background-color 200ms ease, border-color 200ms ease;
}

.player-comparison-card-remove-btn:hover {
  background-color: var(--color-gray-300);
  border-color: var(--color-gray-500);
}

.player-comparison-card-remove-btn svg {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  position: relative;
}
