.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--color-background);
  z-index: 1000;
}

.topbar-icons {
  display: flex;
  gap: 4px;
}

.topbar-left-with-back {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-with-badge {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.badge {
  position: absolute;
  top: 6px;
  right: 6px;
  background: var(--color-accent);
  color: white;
  font-size: 8px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-logo {
  width: 61px;
  height: auto;
}

/* For Edit Profile close icon */
.topbar-close-btn {
  background: none; /* no background box */
  border: none; /* no border */
  outline: none; /* no outline */
  padding: 0; /* no extra padding */
  display: flex; /* center the icon */
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.topbar-close-btn img {
  width: 24px;
  height: 24px;
  display: block;
}

.topbar-close-btn:hover,
.topbar-close-btn:focus,
.topbar-close-btn:active {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.placeholder {
  width: 32px;
  height: 32px;
  background-color: var(--color-gray-500);
  border-radius: 50%;
}

.button-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}
